.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.inputComp{
  background-color: red;
  color: green;
}

.recentTasks{
  border: 1px solid gray;
}

.teamCard{
  margin: 10px;
  width: 200px;
  border: 2px solid green;
  border-radius: 10px;
  box-shadow: 5px 5px 5px red;
}

.viewTeam{
  display: flex;
  width: max-content;
  margin-left: auto;
  margin-right: auto;
}

.taskInput{
  font-size: 20px;
  margin-bottom: 20px;
}

.selector{
  font-size: 20px;
  padding: 10px;
  width: max-content;
  margin-left: auto;
  margin-right: auto;
}

.assignButton{
 font-size: "50px";
}